@import '../../variables.scss';

// TODO: see how its done on devhints
.text-subheader-line {
  flex-grow: 1;
  align-self: center;
  margin-left: 24px;
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  background: linear-gradient(to right, rgba(116, 95, 181, 0.2), transparent 100%);
}

.text-subheader {
  font-size: 20px;
  min-width: 0px !important;
  flex-grow: 0 !important;
}

.subheader-text-row {
  align-items: center;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
// .my-masonry-grid_column > div {
/* change div to reference your elements you put in <Masonry> */
//   background: grey;
//   margin-bottom: 30px;
// }
