@import '../../variables.scss';

.code-node {
  @include theme-aware('box-shadow', 'box-shadow');
  margin-left: 5px;
  flex-grow: 1;
}

.code-text {
  display: inline-block;
  padding: 1em;
  // margin-left: 5px;
  flex-grow: 1;
  @include theme-aware('background-color', 'secondary-background-color');

  font-family: monospace;
  font-size: 1em;

  overflow-wrap: 'break-word';
  word-wrap: 'break-word';
  border-radius: 2px;

  // padding: '0 0.25rem';
  // margin: '0 0.0625rem';
  // background-color: '#eae9ed';
  // font-family: 'Monaco,Menlo,Ubuntu Mono,Droid Sans Mono,Consolas,monospace';
}

.code-flex-wrapper {
  display: flex;
}
