@import '../../variables.scss';

// TODO: how do descendants work in sass?
code {
  // @include theme-aware('background-color', 'secondary-background-color');
  // background-color: var(--list-card-color);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.code-node {
  @include theme-aware('background-color', 'secondary-background-color');
  // padding: 1em;

  .node-arrow {
    display: inline-block;
  }
}

.code-text {
  display: inline-block;

  margin: 1em;
  // color: #15141f;
  background-color: '#eae9ed';
  // font-family: 'Monaco,Menlo,Ubuntu Mono,Droid Sans Mono,Consolas,monospace';
  font-family: 'monospace';
  font-size: '0.9em';
  padding: '0 0.25rem';
  margin: '0 0.0625rem';
  border-radius: '0.125rem';
  overflow-wrap: 'break-word';
  word-wrap: 'break-word';
}

// .code-node {
// border: 1px solid;
// border-radius: 3px;
// display: flex;
// width: 100%;
// }
