@import '../../variables.scss';

.code-toggle {
  opacity: 0;
}

// I'm doing something silly here, I'm sure.
.node-row:hover {
  .code-toggle {
    opacity: 1;
  }
}

.code-flex-wrapper:hover {
  .code-toggle {
    opacity: 1;
  }
}
