@import '../variables.scss';

// Base Nodes
.node {
  margin: 5px 0px 5px 0px;
  @include theme-aware('color', 'main-text-color');
}

.node-children {
  margin-left: 30px;
}

// The parent can't be flex, since it has nested children, and those don't do well
// within the node-row
// The node-row contains the text for this node
.node-row {
  display: flex;
  width: 100%;
  @include theme-aware('color', 'main-text-color');
}

.node-text {
  // padding-left: 5px;
  min-width: 500px;
  flex-grow: 1;
}

// Tag Things-- not currently used.
.completed .node-text {
  text-decoration: line-through;
  @include theme-aware('color', 'disabled-text-color');
}

.completed .tag:hover {
  @include theme-aware('color', 'disabled-tag-color');
}

.tag {
  @include theme-aware('color', 'secondary-text-color');
  color: var(--secondary-text-color);
  text-decoration: underline;
  cursor: pointer;
  border-radius: 3px;
}

.tag:hover {
  // color: var(--tag-color);
  @include theme-aware('color', 'tag-color');
}
