@import '../../variables.scss';

//
// Arrows
//
.node-arrow {
  @include theme-aware('color', 'secondary-text-color');
  cursor: pointer;
  font-size: 0.75em;
  width: 0.8em;
  margin-top: 3px;
}

.no-node-arrow {
  @include theme-aware('color', 'secondary-text-color');
  width: 0.6em;
}

.node-arrow:hover {
  @include theme-aware('color', 'main-text-color');
}

.collapse-arrow {
  @include theme-aware('fill', 'secondary-text-color');
  @include theme-aware('stroke', 'secondary-text-color');
  // padding-top: 3px;
}

.right-arrow-rotation {
  /* doesn't work in IE/ early Edge */
  transform: rotate(270deg);
}
