// Variables

// $mainTextColor: rgb(255, 255, 255, 0.87);
// $secondaryTextColor: rgb(255, 255, 255, 0.6);
// $disabledTextColor: rgb(255, 255, 255, 0.38);
// $highlightColor: #6200ee;
// $tagColor: #bb86fc;
// $disabledTagColor: rgb(187, 134, 252, 0.38);
// $backgroundColor: #1e1f1c;
// $listCardColor: #272822;

// :root {
//   --main-text-color: rgb(255, 255, 255, 0.87);
//   --secondary-text-color: rgb(255, 255, 255, 0.6);
//   --disabled-text-color: rgb(255, 255, 255, 0.38);
//   --highlight-color: #6200ee;
//   --tag-color: #bb86fc;
//   --disabled-tag-color: rgb(187, 134, 252, 0.38);
//   --background-color: #1e1f1c;
//   --list-card-color: #272822;
// }

@import './variables.scss';

body {
  @include theme-aware('background', 'color-background');

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  font-family: sans-serif;

  // .theme-lighty & {
  //   background: #fafafa;
  // }
  // .theme-darky & {
  //   background: #37474f;
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#pageHeader {
  width: 100%;
  text-align: center;
}

h1 {
  // color: var(--main-text-color);
  @include theme-aware('color', 'color-card');
}

h1 a,
a:visited {
  color: inherit;
  text-decoration: none;
}

// TODO: find a better home
