$themes: (
  light: (
    // The first one is a little lighter, the second one is cooler
    // color-background: #fafafa,
    color-background: #f1f3f5,
    secondary-background-color: #fff,
    tertiary-background-color: #f8f9fa,
    main-text-color: rgb(42, 49, 53),
    secondary-text-color: rgb(71, 86, 95),
    disabled-text-color: rgb(42, 49, 53),
    highlight-color: #6200ee,
    tag-color: #bb86fc,
    disabled-tag-color: rgba(187, 134, 252, 0.38),
    // list-card-color: #f1f3f5
    seperator-color: rgba(85, 102, 119, 0.18),
    // Not sure how to get the box shadow in the right way
    box-shadow: 0 3px 4px rgba(85, 102, 119, 0.2)
  ),
  dark: (
    color-background: #1e1f1c,
    secondary-background-color: #272822,
    tertiary-background-color: #1e1f1c,
    main-text-color: #f8f8f2,
    secondary-text-color: rgba(255, 255, 255, 0.6),
    disabled-text-color: rgba(255, 255, 255, 0.38),
    highlight-color: #6200ee,
    tag-color: #bb86fc,
    disabled-tag-color: rgba(187, 134, 252, 0.38),
    background-color: #1e1f1c,
    // list-card-color: #272822
    seperator-color: rgba(85, 102, 119, 0.18),
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2)
  )
);

/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */
@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}
