@import '../variables.scss';

.node {
  margin: 5px 0px 5px 0px;
}

.node-children {
  margin-left: 30px;
}

.root-children {
  margin-left: 0px;
}

.node-row {
  display: flex;
  @include theme-aware('color', 'main-text-color');
  // color: var(--main-text-color);
}

.node-arrow {
  // color: var(--secondary-text-color);
  @include theme-aware('color', 'secondary-text-color');
  cursor: pointer;
  font-size: 0.75em;
  width: 0.8em;
}

.no-node-arrow {
  // color: var(--secondary-text-color);
  @include theme-aware('color', 'secondary-text-color');
  width: 0.6em;
}

.node-arrow:hover {
  // color: var(--main-text-color);
  @include theme-aware('color', 'main-text-color');
}

.node-bullet {
  padding-left: 5px;
  cursor: pointer;
  text-decoration: none;
  // color: var(--secondary-text-color);
  @include theme-aware('color', 'secondary-text-color');
}

.node-bullet:visited {
  color: inherit;
}

.node-bullet:hover {
  // color: var(--main-text-color);
  @include theme-aware('color', 'main-text-color');
}

.node-text {
  padding-left: 5px;
  min-width: 500px;
}

.root-text {
  font-size: 2em;
}

.completed .node-text {
  text-decoration: line-through;
  // color: var(--disabled-text-color);
  @include theme-aware('color', 'disabled-text-color');
}

.completed .tag:hover {
  color: var(--disabled-tag-color);
  @include theme-aware('color', 'disabled-tag-color');
}

.tag {
  @include theme-aware('color', 'secondary-text-color');
  color: var(--secondary-text-color);
  text-decoration: underline;
  cursor: pointer;
  border-radius: 3px;
}

.tag:hover {
  // color: var(--tag-color);
  @include theme-aware('color', 'tag-color');
}

.code-node {
  // border: 1px solid;
  border-radius: 3px;
  display: flex;
  width: 100%;
}

// TODO: how do descendants work in sass?
code {
  // @include theme-aware('background-color', 'secondary-background-color');
  // background-color: var(--list-card-color);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.code-comment-wrapper {
  @include theme-aware('background-color', 'secondary-background-color');
}

.comment-node {
  border-top: 1px solid;
  @include theme-aware('border-color', 'background-color');
}
